<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="book-item col mb-3" *ngFor="let book of books">
            <img class="book-cover mx-auto d-block" [src]="book.images[0]">
            <div class="card h-80">
                <div class="card-body">
                    <p class="book-title card-title">{{book.title | textellipsis: 30}}</p>
                    <p class="book-description card-text">{{book.description | textellipsis: 200}}</p>
                    <p class="book-price card-text">{{book.price | currency: 'BRL'}}</p>
                    <a class="btn btn-primary btn-sm" (click)="addToCart(book)">Adicionar ao carrinho</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loadingData" class="loading-placeholder row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="book-item col mb-3" *ngFor="let i of [1,2,3,4,5,6,7,8]">
            <div class="book-cover-placeholder"></div>
            <div class="card h-80">
                <div class="card-body">
                    <div class="book-title-placeholder info-placeholder"></div>
                    <p class="book-description-placeholder info-placeholder"></p>
                    <p class="book-description-placeholder info-placeholder"></p>
                    <p class="book-description-placeholder info-placeholder"></p>
                    <p class="book-description-placeholder info-placeholder"></p>
                    <p class="book-description-placeholder info-placeholder"></p>
                    <p class="book-description-placeholder info-placeholder"></p>
                    <p class="book-description-placeholder info-placeholder"></p>
                    <p class="book-description-placeholder info-placeholder"></p>
                    <p class="book-price-placeholder info-placeholder"></p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="books.length == 0 && !loadingData" class="alert alert-primary">
        Nenhum livro foi encontrado para essa pesquisa.
    </div>
    <div class="cart-preview" [ngClass]="{visible: cart.items.length > 0}">
        <div class="cart-navbar">
            <div class="cart-footer-container container">
                <div class="cart-footer-summary-container">
                    <div>
                        <div class="text-right">{{cartAmount}} livros</div>
                        <div>{{cartPrice | currency: 'BRL'}}</div>
                    </div>
                    <a class="btn btn-primary ml-3 d-none d-sm-flex" href="cart">ver carrinho</a>
                    <a class="btn btn-primary ml-3 d-sm-none" href="cart">
                        <fa-icon class="cart-icon" [icon]="['fas', 'shopping-cart']"></fa-icon>
                    </a>
                </div>
                <div class="cart-thumb-container">
                    <div class="cart-item" *ngFor="let item of cart.items">
                        <img [src]="item.book.images[0]" />
                    </div>
                </div>
            </div>
        </div>
    </div>